
.title {
 text-align: center;   
 color: white;
 font-family: 'Ruda', sans-serif;
 font-size: 4em;
 
}

p, h2 {
font-family: 'Ruda', sans-serif;   
color: white;
}

.dishes {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  overflow: hidden;
}

.desserts {
    background-color: #327CBF; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    overflow: hidden;
  }

  .service {
    background-color: #FF6610; /* Orange */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    overflow: hidden;
  }

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  overflow: hidden;
}


.middle {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: hidden;
  }


  .mile {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 200%;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: hidden;
  }


.left {
  left: 0;
  background-color: #327CBF;
  overflow: hidden;
}

.right {
  right: 0;
  background-size: cover;
  background-image: url("images/cody-berg-1IIYYWeS6Yg-unsplash.jpg");
  background-color: #cccccc;
  overflow: hidden;
}

.first {
    left: 0;
    background-color: pink;
    overflow: hidden;
  }
  
  .second {
    right: 0;
    background-color: #125211;
    overflow: hidden;
  }


  .third {
    left: 0;
    background-color: #E570BE;
    overflow: hidden;
  }
  
  .fourth {
    right: 0;
    background-color: blue;
    overflow: hidden;
  }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .bottom-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


.centered img {
position: relative;
right: 60%;
width: 310%;   
  height:auto;
  border-radius: 0%;
}

.bottom img {
    position: relative;
    right: 130%;
    width: 350%;   
    height: auto;
    border-radius: 0%;
  }


  .bottom-middle img {
    position: relative;
    right: 120%;
    width: 350%;   
    height: auto;
    border-radius: 0%;
  }